[submodule "asi-http-request"]
	path = asi-http-request
	url = git@github.com:pokeb/asi-http-request.git
[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = http://github.com/jdg/MBProgressHUD.git
[submodule "CocoaLumberjack"]
	path = CocoaLumberjack
	url = git://github.com/robbiehanson/CocoaLumberjack.git
[submodule "inventory-kit"]
	path = inventory-kit
	url = git@github.com:agoodman/inventory-kit.git
[submodule "BlocksKit"]
	path = BlocksKit
	url = git@github.com:agoodman/BlocksKit.git
[submodule "ennui"]
	path = ennui
	url = git@github.com:agoodman/ennui.git
