<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.uptimetry.subscription.micro</key>
	<dict>
		<key>title</key>
		<string>Micro - 3 URLs</string>
		<key>duration</key>
		<string>2592000</string>
	</dict>
	<key>com.uptimetry.subscription.small</key>
	<dict>
		<key>title</key>
		<string>Small - 5 URLs</string>
		<key>duration</key>
		<string>2592000</string>
	</dict>
	<key>com.uptimetry.subscription.medium</key>
	<dict>
		<key>title</key>
		<string>Medium - 10 URLs</string>
		<key>duration</key>
		<string>2592000</string>
	</dict>
	<key>com.uptimetry.subscription.large</key>
	<dict>
		<key>title</key>
		<string>Large - 20 URLs</string>
		<key>duration</key>
		<string>2592000</string>
	</dict>
	<key>com.uptimetry.subscription.jumbo</key>
	<dict>
		<key>title</key>
		<string>Jumbo - 50 URLs</string>
		<key>duration</key>
		<string>2592000</string>
	</dict>
</dict>
</plist>
